<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Se importa el contenido de iron-ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Se importa el contenido de dom-repeat -->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h1> Sus cuentas </h1>
    <!-- Template para el listado de cuentas -->
    <template is="dom-repeat" items="{{accounts}}">
      <h3>IBAN - {{item.iban}} </h3>
      <h3>Alias - {{item.alias}} </h3>
      <h3>Saldo - {{item.balance}} </h3>
    </template>

    <!-- Enlace a estilos Bootstrap. Solo se mostraran en el componente, por
         eso que se declaran aqui
         Se usaran los estilos Bootstrap para el proyecto
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Contenido con variables [[var]] oneway

    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h2>Tengo [[age]] años</h2>

    -->


    <!-- Contenido con variables [[var]] twoways y input
    <input type="text" value="{{first_name::input}}"/>
    <br/>
    <input type="text" value="{{last_name::input}}"/>
    <br/>
    <input type="range" min="18" value={{age::input}} max="80"/>
    -->

    <!-- Se declara el componente iron-ajax -->
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{iduser}}/accounts"
      handle-as="json"
      on-response="showData"
      />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }

      static get properties() {
        return {
          iduser : {
            type: Number
          },
          iban : {
            type: String
          },
          alias : {
            type: String
          },
          balance : {
            type: String
          },
          accounts : {
            type: Array
          }
        };
      } /* properties */

      showData(data){
        console.log("Recibidos datos de cuentas");

        /* response es un array, ojo al acceder a los elementos */
        console.log(data.detail.response);

        this.accounts = data.detail.response;

      } /* showData */

    } /* class VisorCuenta */

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
