<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Se importa el contenido de iron-ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Enlace a estilos Bootstrap. Solo se mostraran en el componente, por
         eso que se declaran aqui
         Se usaran los estilos Bootstrap para el proyecto
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <!-- Contenido con variables [[var]] twoways sin input-->
    <div class="row">
      <h1 class="col-md-12">Login Usuario</h1>
    </div>
    <input type="email" placeholder="Email" value={{email::input}}>
    <input type="password" placeholder="Password" value={{password::input}}>
    <button class="btn btn-success" on-click="login">Login</button>
    <br/>
    <span hidden$="{{!isLogged}}">User logged correctly</span>
    <br/>


    <!-- Se declara el componente iron-ajax
         se quita el auto
    -->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login/"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }

      static get properties() {
        return {
          email : {
            type: String
          }, password : {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }
        };
      } /* properties */

      /*
       * login: funcion manejadora del on-click del boton Login
       */
      login () {
        console.log("El usuario ha pulsado el botón de login");

        /* Objeto con los datos a enviar */
         var loginData = {
           "email" : this.email,
           "password" : this.password
         }; /* loginData */

         /* Se genera el JSON a partir del ojeto cconsole.log (this.$.doLogin.body);on los datos a enviar
          * Se accede al elemento tal como se ha definido en AJAX (doLogin)
          */
         console.log (this.$.doLogin.body);
         this.$.doLogin.body = JSON.stringify(loginData);
         console.log (this.$.doLogin.body);

         /* Se genera la petición */
         this.$.doLogin.generateRequest();
         console.log ("Petición enviada")

      } /* login */

      /*
       * Funcion de respuesta del POST
       */
      manageAJAXResponse(data) {

        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
        /* this.isLogged = true; */
        window.location = "/user/" + data.detail.response.iduser;

      } /* manageAJAXResponse */

      /*
       * showError: funcion manejadora del on-error del boton Login
       */
      showError(){
        console.log("LOGIN: An error has ocurred");
        console.log(error);

      } /* showError */

    } /* class LoginUsuario */

    window.customElements.define(LoginUsuario.is, LoginUsuario);

  </script>
</dom-module>
