<!--
    receptor-evento:
    Componente polymer para gestión de la recepción de un evento
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">


<dom-module id="receptor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <h3>Soy el receptor</h3>
   <h3>Este curso es {{course}} en el año {{year}}</h3>

   <input type="text" value="{{course::input}}"></input>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ReceptorEvento extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() { return 'receptor-evento'; }
     static get properties() {
       return {
         course: {
           type : String,
           observer : '_courseChanged'
         },
         year: {type : String}
       };
     } /*  properties */

     /*  showData: Funcion para mostrar datos */
     showData(data) {
       console.log("Datos recibidos en el receptor");
       console.log(data);
       /* Se asignan los valores que vienen en la llamada a los valores del
          del objeto */
       this.course = data.course;
       this.year = data.year;
     } /* showData */

     /* _courseChanged: Funcion observadora de la variable "course" */
     _courseChanged(newValue, oldValue){
       console.log("Valor de course ha cambiado");
       console.log("Valor antiguo " + oldValue);
       console.log("Valor nuevo " + newValue);
     } /* _courseChanged */

   } /* class  ReceptorEvento */

   window.customElements.define(ReceptorEvento.is, ReceptorEvento);
 </script>
</dom-module>
