<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Se importa el contenido de iron-ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Enlace a estilos Bootstrap. Solo se mostraran en el componente, por
         eso que se declaran aqui
         Se usaran los estilos Bootstrap para el proyecto
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Contenido con variables [[var]] oneway

    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h2>Tengo [[age]] años</h2>

    -->

    <!-- Contenido con variables [[var]] twoways sin input-->
    <div class="row">
      <h1 class="col-md-12">Visor Usuario</h1>
      <h2 class="col-md-5">Soy {{first_name}} {{last_name}}</h2>
      <h2 class="col-md-5">y mi email es {{email}}</h2>

    </div>

    <p/>
    <button class="btn btn-link"><a href="/user/{{id}}/accounts">Ver mis cuentas</a></button>
    <br/>


    <!-- Contenido con variables [[var]] twoways y input
    <input type="text" value="{{first_name::input}}"/>
    <br/>
    <input type="text" value="{{last_name::input}}"/>
    <br/>
    <input type="range" min="18" value={{age::input}} max="80"/>
    -->

    <!-- Se declara el componente iron-ajax -->
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
      />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }

      static get properties() {
        return {
          first_name : {
            type: String
          }, last_name : {
            type: String
          }, id : {
            type: Number
          }, email :{
            type: String
          }
        };
      } /* properties */

      showData(data){
        console.log("Recibidos datos de usuario");

        /* response es un array, ojo al acceder a los elementos */
        console.log(data.detail.response[0]);
        console.log(data.detail.response[0].id);
        console.log(data.detail.response[0].first_name);
        console.log(data.detail.response[0].last_name);
        console.log(data.detail.response[0].email);

        this.id = data.detail.response[0].id;
        this.first_name = data.detail.response[0].first_name;
        this.last_name = data.detail.response[0].last_name;
        this.email = data.detail.response[0].email;

      } /* showData */

    } /* class VisorUsuario */

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
