<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="borrador-front-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Contenido con variables [[var]] oneway

    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h2>Tengo [[age]] años</h2>

    -->

    <!-- Contenido con variables [[var]] twoways sin input-->
    <h2>Soy {{first_name}} {{last_name}} y tengo {{age}} años</h2>

    <!-- Contenido con variables [[var]] twoways y input-->
    <input type="text" value="{{first_name::input}}"/>
    <br/>
    <input type="text" value="{{last_name::input}}"/>
    <br/>
    <input type="range" min="18" value={{age::input}} max="80"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BorradorFrontApp extends Polymer.Element {
      static get is() { return 'borrador-front-app'; }
      static get properties() {
        return {
          first_name : {
            type: String
          }, last_name : {
            type: String
          }, age : {
            type: Number
          }
        };
      }
    }

    window.customElements.define(BorradorFrontApp.is, BorradorFrontApp);
  </script>
</dom-module>
