<!--
    gestor-evento:
    Componente polymer para gestión de la gestión de un evento
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">


<dom-module id="gestor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <h1>Tu mataste a mi padre. No, Luke, yo soy tu padre</h1>

   <emisor-evento on-myevent="processEvent"></emisor-evento>
   <receptor-evento id="receiver"></receptor-evento>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorEvento extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() { return 'gestor-evento'; }
     static get properties() {
       return {
       };
     } /*  properties */

     /*  Funcion para manejar el evento processEvent */
     processEvent (e) {
       console.log("[gestor-evento] Capturado evento del emisor");
       console.log(e);
       /* OPCIÓN 1: Se enlaza con el componente polymer del receptor (receiver)
          "receiver.showData" es el componente y el método de receptor-evento.
          Este tipo de enlace no es recomendable.
       this.$.receiver.showData(e.detail);
       */
       /* OPCIÓN 2: Se enlaza con el contenido del componente polymer del receptor
          "receiver" es el componente y el resto son los campos.
       */
       this.$.receiver.course = e.detail.course;
       this.$.receiver.year = e.detail.year;

     } /* processEvent */

   } /* class */

   window.customElements.define(GestorEvento.is, GestorEvento);
 </script>
</dom-module>
